{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body %}
    <div class="container" style="text-align: center;width: 100%;">
        <div>
            <h2>Sortify.tm  (Jun Ren, https://gitlab.com/jren2019/sortify)</h2>
        </div>

        <div class="container">
            <div>
                <p>Input strings</p>
            </div>

            <div class="form-group" style="margin: 0 auto;display: inline-block;">
                {% if form.errors %}
                    <p style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} below.
                    </p>
                {% endif %}

                <form action="" method="post" style="width: 1000px;">
                    <div>
                        {{ form.original_text.errors }}
                        {{ form.original_text }}
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div>
                <p>Results</p>
            </div>

            <div class="form-group" style="margin: 0 auto;display: inline-block;">
                <div class="form-group purple-border">
                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="15" style="width: 580px;">{{ target_text }}</textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
