.nav-left{
    .logo{
        line-height: 35px;
        padding-left: 10px;
        background-color: #002140;
        img{
            position: absolute;
            height: 32px;
            align-items: center;
        }
    }
}
