.logo{
    line-height:100px;
    padding-left: 10px;
    background-color: #002140;
    h1{
        color:#ffffff;
        font-size:15px;
        display:inline-block;
        margin:0 0 0 10px;
    }
}
