$navbar-height: 40px;
$page-title-height: 25px;
$page-title-padding-bottom: 10px;
$bottom-height: 36px;
$main-content-padding: 10px;
$main-content-padding-bottom: 0px;
$main-content-padding-top: 10px;

$scrollbar-width: 5px;
$scrollbar-height: 5px;

$scrollbar-border-radius: 0;
$max-screen-height: 100vh;
$max-screen-width: 100vw;

$grid-status-width: 50px;
$slider-group-width: 150px;

$controller-wrapper-height: 36px;
$controller-wrapper-child-height: 25px;
$menu-opener-width: 25px;
$menu-opener-padding-left: 0px;
$menu-closer-width: 25px;
$panel-margin-bottom: 0px;
$panel-border: 1px;
$grid-button-height: 30px;

$mySidemenu-width:270px;

/** 常用色值 **/
$colorA: #f9c700;
$colorB: #ff5400;
$colorC: #333;
$colorD: #6699cc;
$colorE: #9cb3c5;
$colorF: #e0e6ec;
$colorG: #666;
$colorH: #999;
$colorI: #ccc;
$colorJ: #d7d7d7;
$colorK: #e3e3e3;
$colorL: #f1f3f5;
$colorM: #ffffff;
$colorN: #e5e5e5;
$colorO: #afafaf;
$colorP: #ff8605;
$colorQ: #f9fbfc;
$colorR: #001529;
$colorS: #002140;
$colorT: #232526;
$colorU: #bebebe;

/** 常用字体大小 **/
$fontA: 34px;
$fontB: 22px;
$fontC: 18px;
$fontD: 16px;
$fontE: 14px;
$fontF: 12px;
$fontG: 20px;
