{% extends 'base.html' %}


{% block body %}
    <div class="row">
        <div class="col-2">

        </div>
        <div id="root" class="col-8">
            <div>
                <h2>Sortify.tm  (Jun Ren, https://gitlab.com/jren2019/sortify)</h2>

            </div>

            <h1>Demo</h1>
            <p><a href="https://sortify.har.ac.nz/posts/wordsegmentation">https://sortify.har.ac.nz/posts/wordsegmentation</a></p>

            <h1>api v1</h1>
            <p><a href="https://sortify.har.ac.nz/posts/wordsegmentation/api/v1">https://sortify.har.ac.nz/posts/wordsegmentation/api/v1</a></p>

            <h1>api v2</h1>
            <p><a href="https://sortify.har.ac.nz/posts/wordsegmentation/api/v2">https://sortify.har.ac.nz/posts/wordsegmentation/api/v2</a></p>
        </div>
        <div class="col-2">
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}



