@import "../../../../sass/variables";

.header{
    background-color: $colorM;
    .header-top{
        margin-top: 15px;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        .logo{
            line-height: 60px;
            text-align: left;
            font-size: 18px;
            img{
                height: 40px;
                vertical-align: middle;
            }
            span{
                margin-left: 5px;
            }
        }
        a{
            margin-left: 40px;
        }
        .weather{
            text-align: right;
            font-size: 14px;
            .date{
                margin-right: 10px;
                vertical-align: middle;
            }
        .weather-img{
            img{
                height: 15px;
            }
        }
        .weather-detail{
            margin-left: 5px;
            vertical-align: middle;
            }
        }
        .breadcrumb-title{
            text-align: center;
            font-size: 16px;
            margin-right: 5px;
        }
    }
}
.simple-page{
  .header-top{
    background:#1890ff;
    color:$colorM;
  }
}
