@import "../../../sass/variables";

.home-wrap{
    background-color: $colorM;
    height: calc(77vh);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: $colorR;
}
