@import "../variables";
//@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.container{
    flex:0;
    .nav-left{
        height:40px;
        vertical-align: center;
        background-color: #001529;
        color: #ffffff;
    }
    .main{
        height: calc(100vh);
        color: #ffffff;
        background-color: $colorL;
        overflow:auto;
    }
    .content{
        position: relative;
        height: calc(100vh);
        padding: 3px;

        background-color: #eae6e6;
    }
}

.content-wrap{
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin-top: -3px;
    .ant-table-wrapper{
        margin-left: -1px;
        margin-right: -2px;
    }
}

/** load **/
.ajax-loading{
    display: none;
    .loading{
      position: fixed;
      top: 30%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding:0 40px;
      height: 80px;
      line-height: 80px;
      background: rgba(0, 0, 0, 0.75);
      border-radius: 6px;
      text-align: center;
      z-index: 9999;
      font-size:$fontD;
      color:#fff;
      img{
        width: 32px;
        vertical-align: middle;
      }
      span{
        margin-left:12px;
      }
    }
    .overlay{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 9998;
      background: rgb(255, 255, 255);
      opacity: 0.1;
    }
}

